name: Build Heltec

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v1
    
    - name: Install ESP32 core
      run: |
        arduino-cli config init || true
        arduino-cli core update-index
        arduino-cli core install esp32:esp32
    
    - name: Install display library
      run: arduino-cli lib install "ESP8266 and ESP32 OLED driver for SSD1306 displays"
    
    - name: Compile
      run: |
        # Компилируем и указываем папку для выходных файлов
        mkdir -p firmware
        arduino-cli compile --fqbn esp32:esp32:esp32 --output-dir firmware .
    
    - name: List files (для проверки)
      run: ls -la firmware/ || ls -la
    
    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: firmware/*.bin
